*{
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 400px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.bg-white {
    background-color: #fff;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #ffce7a;
}
.header-inner {
    margin-top: 20px;
    margin-right: 20px;
    width: 160px;
    height: 60px;
    float: right;
}
.header-inner-left {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #c2ffc8;
    float: left;
}
.header-inner-center {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #c2ffc8;
    float: left;
}
.header-inner-right {
    margin-top: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: #c2ffc8;
    float: left;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
    float: left;
}
.right {
    width: 250px;
    height: 250px;
    background-color: #c2ffc8;
    float: left;
}
.right-inner-upper{
    margin-top: 40px;
    margin-left: 40px;
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    border: 5px solid #fff;
}
.right-inner-center{
    margin-top: 10px;
    margin-left: 40px;
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    border: 5px solid #fff;
}
.right-inner-lower{
    margin-top: 10px;
    margin-left: 40px;
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    border: 5px solid #fff;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #bea5ff;
}